body {
  background-color: #81addb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
}
.clock {
  width: 500px;
  height: 200px;
  font-size: 90px;
  background: #102;
  border: 20px solid #4b5970;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  box-shadow: 0 0 30px rgba(0,0,0,.1),
              0 20px 20px rgba(0,0,0,.1),
              0 0 0 4px rgba(255,255,255,1);
}
